In [1]:
import numpy as np
import pandas as pd

In [173]:
#criar dataframe aleatorio contendo nan
def data(size,nan):
    df = np.random.rand(size)
    df.ravel()[np.random.choice(df.size,nan,replace=False)] = np.nan
    return df
dfs = [None]*5
for i in range(5):
    dfs[i] = pd.DataFrame(data(100,int(np.random.randint(30))),columns=['df'+str(i)+'_'])
dfs

[    df0_before
 0     0.917368
 1     0.671425
 2     0.151901
 3     0.906995
 4     0.655707
 ..         ...
 95    0.791875
 96    0.353706
 97    0.700883
 98    0.043899
 99    0.230832

 [100 rows x 1 columns],
     df1_before
 0     0.465855
 1     0.065184
 2     0.263475
 3     0.076423
 4     0.533018
 ..         ...
 95         NaN
 96    0.154485
 97    0.451972
 98    0.025967
 99         NaN

 [100 rows x 1 columns],
     df2_before
 0     0.556280
 1     0.351124
 2     0.890727
 3     0.694684
 4     0.430214
 ..         ...
 95    0.294046
 96    0.082135
 97    0.475536
 98    0.645587
 99    0.648462

 [100 rows x 1 columns],
     df3_before
 0     0.781548
 1     0.587028
 2     0.553505
 3          NaN
 4     0.690838
 ..         ...
 95         NaN
 96    0.343224
 97    0.014932
 98    0.479354
 99    0.201721

 [100 rows x 1 columns],
     df4_before
 0     0.771500
 1     0.479307
 2     0.275611
 3     0.299266
 4     0.305537
 ..         ...
 95         NaN
 96    0.889961
 97    0.838562
 98    0.253261
 99    0.426109

 [100 rows x 1 columns]]

In [174]:
#preencher valores nan com a m√©dia
def fill(data,value):
    data = data.fillna(value)
    return data
for i in range(len(dfs)):
    if dfs[i].isnull().values.any() == True:
        #------------------------------------------------
        #usar este se for substituir a dataframe antiga
        #dfs[i] = fill(dfs[i],dfs[i].mean())
        #------------------------------------------------
        dfs[i]['dfs'+str(i)+'_after'] = fill(dfs[i],dfs[i].mean())
        print(dfs[i])

    df0_before  dfs0_after
0     0.917368    0.917368
1     0.671425    0.671425
2     0.151901    0.151901
3     0.906995    0.906995
4     0.655707    0.655707
..         ...         ...
95    0.791875    0.791875
96    0.353706    0.353706
97    0.700883    0.700883
98    0.043899    0.043899
99    0.230832    0.230832

[100 rows x 2 columns]
    df1_before  dfs1_after
0     0.465855    0.465855
1     0.065184    0.065184
2     0.263475    0.263475
3     0.076423    0.076423
4     0.533018    0.533018
..         ...         ...
95         NaN    0.460491
96    0.154485    0.154485
97    0.451972    0.451972
98    0.025967    0.025967
99         NaN    0.460491

[100 rows x 2 columns]
    df2_before  dfs2_after
0     0.556280    0.556280
1     0.351124    0.351124
2     0.890727    0.890727
3     0.694684    0.694684
4     0.430214    0.430214
..         ...         ...
95    0.294046    0.294046
96    0.082135    0.082135
97    0.475536    0.475536
98    0.645587    0.645587
99    0.648462    0.648462

[100 rows x 2 columns]
    df3_before  dfs3_after
0     0.781548    0.781548
1     0.587028    0.587028
2     0.553505    0.553505
3          NaN    0.456140
4     0.690838    0.690838
..         ...         ...
95         NaN    0.456140
96    0.343224    0.343224
97    0.014932    0.014932
98    0.479354    0.479354
99    0.201721    0.201721

[100 rows x 2 columns]
    df4_before  dfs4_after
0     0.771500    0.771500
1     0.479307    0.479307
2     0.275611    0.275611
3     0.299266    0.299266
4     0.305537    0.305537
..         ...         ...
95         NaN    0.465728
96    0.889961    0.889961
97    0.838562    0.838562
98    0.253261    0.253261
99    0.426109    0.426109

[100 rows x 2 columns]

In [158]:
#mapeamento utilizando dicionario
gender = {0:'male',1:'female'}
#random dataframe with 0 or 1
data = pd.DataFrame(np.random.choice([0, 1], size=100),columns=['gender'])
print(data.head(5),'\n')
data['gender'] = data['gender'].map(gender)
print(data.head(5))

   gender
0       0
1       1
2       0
3       0
4       1

   gender
0    male
1  female
2    male
3    male
4  female

In [172]:
#mapeamento utilizando def
def color_func(val):
    if val <= 200:
        return 'red'
    elif val <=400:
        return 'yellow'
    elif val <=600:
        return 'green'
    elif val <=800:
        return 'blue'
    else:
        return 'purple'
data = pd.DataFrame(np.random.choice(np.arange(1000), size=100),columns=['color'])
print(data.head(10),'\n')
data['color'] = data['color'].map(color_func)
print(data.head(10))

   color
0    594
1    707
2    855
3    978
4    499
5    260
6    983
7    259
8    772
9    278

    color
0   green
1    blue
2  purple
3  purple
4   green
5  yellow
6  purple
7  yellow
8    blue
9  yellow

In [213]:
#separar par e impar
def par(data):
    return list(filter(lambda x: x%2==0, data))
def impar(data):
    return list(filter(lambda x: x%2!=0, data))
data = np.random.choice(np.arange(1000), size=100)
data = pd.DataFrame([par(data),impar(data)]).T
data.columns = ['par', 'impar']
data

      par  impar
0     6.0  777.0
1   728.0  689.0
2   364.0  919.0
3   358.0  461.0
4   794.0  345.0
5   448.0  141.0
6   930.0    3.0
7   590.0  921.0
8   328.0  565.0
9   592.0  445.0
10  936.0  679.0
11   30.0  765.0
12  646.0  101.0
13   10.0  201.0
14  832.0  569.0
15  120.0  139.0
16  190.0  421.0
17  262.0  937.0
18  960.0  687.0
19  628.0  439.0
20  188.0  259.0
21  386.0  843.0
22  722.0  195.0
23  772.0  317.0
24  428.0  197.0
25  278.0  471.0
26  908.0  253.0
27  282.0  911.0
28  588.0  845.0
29  878.0  837.0
30  138.0  649.0
31  938.0  741.0
32  658.0  225.0
33  528.0  791.0
34  978.0  779.0
35  132.0  765.0
36  856.0  209.0
37  304.0  501.0
38  938.0  657.0
39  984.0  259.0
40  138.0  775.0
41  326.0  267.0
42  930.0   43.0
43  754.0  779.0
44  980.0  115.0
45  158.0   71.0
46  786.0  865.0
47    NaN  395.0
48    NaN  729.0
49    NaN  947.0
50    NaN   37.0
51    NaN  551.0
52    NaN  765.0